@use "../abstract/variables" as v;
@use "../abstract/mixins" as mx;
.blog {
	width: 100%;
	@include mx.flex($aling: flex-start, $gap: 8rem);

	&__link {
		width: 100%;
		color: #425167;
		font-family: v.$font-family-poppins-bold;
		transition: color 0.2s ease;
		&:hover {
			color: #748fb8;
		}
	}

	&__icon {
		width: 2.5rem;
	}

	&__figure {
		width: 100%;
		@include mx.flex($direction: row, $gap: 1rem);
	}

	&__caption {
		width: 100%;
		@include mx.flex($justify: space-between, $direction: row, $gap: 2rem);
	}

	&__title {
		font-size: v.$subtitle-header;
	}
}
