@use "../abstract/mixins" as mx;
@use "../abstract/variables" as v;
.contact {
	&__icon {
		width: v.$contact-icon-size-1-5rem;
	}

	&__link {
		cursor: pointer;
		color: v.$soft-white;
		transition: color 0.2s ease, transform 0.2s ease;
		padding: 0.4rem v.$space-1rem;
		@include mx.round(1rem);
		@include mx.flex($direction: row, $gap: 0.5rem);

		&:hover {
			transform: translateY(-0.2rem);
			box-shadow: v.$shadow-dark-transparent;
		}

		&--linkedin {
			&:hover {
				color: v.$celest;
			}
			@include mx.mobile(v.$tablet) {
				color: v.$celest;
			}
		}

		&--youtube {
			@include mx.mobile(v.$tablet) {
				color: v.$soft-red;
			}
			&:hover {
				color: v.$soft-red;
			}
		}

		&--email {
			@include mx.mobile(v.$tablet) {
				color: v.$white;
			}
			&:hover {
				color: v.$white;
			}
		}

		@include mx.mobile(v.$tablet) {
			transition: none;
			box-shadow: v.$shadow-dark-transparent;
			&:hover {
				transform: none;
				box-shadow: none;
			}
		}
	}

	&__social {
		font-family: v.$font-family-poppins-semibold;
	}
}
