@use "../abstract/mixins" as mx;
@use "../abstract/variables" as v;
.filter {
	flex-wrap: wrap;
	padding: 0.5rem;
	@include mx.flex($direction: row, $gap: v.$space-1rem);
	&__label {
		box-shadow: v.$shadow-dark-transparent;
		background-color: v.$bg-soft-cyan;
		padding: v.$space-1-3rem;
		padding-block: 0.2rem;
		color: v.$white;
		font-size: v.$link_filter;
		font-family: v.$font-family-poppins-regular;
		letter-spacing: 0.06em;
		cursor: pointer;
		transition: background-color 0.2s ease;
		@include mx.round(v.$space-2rem);
		@include mx.flex($gap: 0rem);
		@include mx.mobile(v.$tablet) {
			transition: none;
			&:hover {
				background-color: v.$bg-soft-cyan;
			}
		}
		&:hover {
			background-color: v.$bg-soft-blue-dark;
		}
	}

	&__technology-input {
		position: absolute;
		&:checked ~ label {
			color: v.$soft-gray;
			background-color: v.$bg-dark-cyan;
		}
	}
}
