@use "../abstract/mixins" as mx;
@use "../abstract/variables" as v;
.live {
	&__wrapper {
		@include mx.flex(
			$direction: row,
			$justify: space-between,
			$gap: 0.5rem
		);
	}
	&__arrow {
		width: 3.5rem;
		cursor: pointer;
		filter: invert(0.6) brightness(100%);
	}
	&__link {
		font-family: v.$font-family-poppins-bold;
		font-size: v.$link_filter;
		color: rgb(180, 173, 173);
		transition: color 0.2s ease-in;
		&:hover {
			color: v.$soft-green;
		}
		&:hover > img {
			filter: grayscale(0);
		}
	}

	&__icon {
		width: 8rem;
		transition: filter 0.2s ease-in;
		filter: grayscale(1);
	}
}
