@use "../abstract/mixins" as mx;
@use "../abstract/variables" as v;
.live {
	&__wrapper {
		@include mx.flex(
			$direction: row,
			$justify: space-between,
			$gap: 0.5rem
		);
	}
	&__arrow {
		width: v.$space-2rem;
		cursor: pointer;
		filter: v.$invert-light;
		@include mx.mobile(v.$tablet) {
			width: 1.65rem;
		}
	}
	&__link {
		font-family: v.$font-family-poppins-bold;
		font-size: v.$link_filter;
		color: v.$cream;
		transition: color 0.2s ease-in;

		&:hover {
			color: v.$soft-green;
		}

		&:hover > img {
			filter: grayscale(0);
		}

		@include mx.mobile(v.$tablet) {
			color: v.$soft-green;

			& > img {
				filter: grayscale(0);
			}
		}
	}

	&__icon {
		width: 8rem;
		transition: filter 0.2s ease-in;
		filter: grayscale(1);
	}
}
