@use "../abstract/mixins" as mx;
@use "../abstract/variables" as v;
.skills {
	width: 100%;
	padding-block: 1rem;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	border-radius: 1rem;
	&::after,
	&::before {
		border-radius: 1rem;
		content: "";
		top: 0;
		width: 10%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 2;
	}

	&::after {
		left: 0;
		background-image: linear-gradient(to right, #00000093, transparent);
	}

	&::before {
		left: 40.6rem;
		background-image: linear-gradient(to right, transparent, #00000093);
	}

	&__slide {
		width: 62rem;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		animation: slide 11s infinite linear;
	}

	&__icon {
		width: 5rem;
		padding-inline: 1rem;
		filter: drop-shadow(0rem 0.5rem 0.6rem #00000095);
	}
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
