@use "../abstract/mixins" as mx;
@use "../abstract/variables" as v;
.skills {
	width: 100%;
	padding-block: v.$space-1rem;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	@include mx.round(v.$space-1rem);

	&::after,
	&::before {
		content: "";
		top: 0;
		width: 10%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 2;
		@include mx.round(v.$space-1rem);
	}

	&::after {
		left: 0;
		@include mx.bg-linear-radient(right, #0000006b, 45%, tranparent 100%);
	}

	&::before {
		left: calc(100dvw - 10%);
		@include mx.bg-linear-radient(right, tranparent, 45%, #0000006b 100%);
	}

	&__slide {
		width: 62rem;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: v.$space-1rem;
		@include mx.infinite-slide();
	}

	&__icon {
		width: v.$space-5rem;
		padding-inline: v.$space-1rem;
		filter: v.$drop-shadow-dark-transparent;
		@include mx.mobile(v.$mobile) {
			width: 4.2rem;
		}
	}
}
