@use "../abstract/mixins" as mx;
@use "../abstract/variables" as v;
.header {
	animation: blur-header linear both;
	animation-timeline: scroll(root block);
	animation-range: 0 40px;
	&__actions {
		@include mx.flex($direction: row, $gap: 1rem);
	}

	&__language {
		color: v.$soft-white;
	}
}

@keyframes blur-header {
	to {
		background-color: rgba(40, 47, 61, 0.511);
		backdrop-filter: blur(5px);
	}
}
