@use "../abstract/mixins" as mx;
.presentation {
	width: 100%;
	height: 100dvh;
	position: relative;
	&__header {
		padding-inline: 3rem;
		width: 100%;
		top: 0;
		left: 0;
		position: sticky;
		z-index: 40;
		padding-block: 1rem;
		@include mx.flex($direction: row, $justify: center, $gap: 5rem);
	}
	&__hero {
		width: 100%;
		height: 100%;
		@include mx.flex($gap: 0);
	}
}
