@use "../abstract/mixins" as mx;
.projects {
	padding: 2rem 3rem;
	min-height: 100dvh;
	background-image: linear-gradient(to bottom, #041623 45%, #000406);
	@include mx.flex($justify: flex-start, $gap: 3rem);

	&__box {
		width: 100%;
		@include mx.flex($direction: row, $justify: space-between, $gap: 3rem);
	}

	&__wrapper {
		width: 65%;
		@include mx.flex($aling: flex-start, $justify: flex-start, $gap: 3rem);
	}

	&__container-proyects {
		flex: 1;
		@include mx.gridResponsive();

	}

	&__live {
		@include mx.flex();
		width: 35%;
	}
}

