@use "../abstract/mixins" as mx;
.projects {
	background-image: linear-gradient(to bottom, #041623 0% 45%, #000406 100%);
	min-height: 100dvh;
	padding-inline: 3rem;
	//
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: flex-start;
	gap: 2rem;
	//
	background-color: rgba(102, 51, 153, 0.44);

	&__box {
		outline: solid red 1px;
		width: 100%;
		//
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8rem;
		//
	}

	&__wrapper {
		// outline: solid green 2px;
		//
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		//
		flex: 1;
		//
	}

	&__container {
		width: 100%;
		//
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		//
		gap: 2rem;
	}
}
