// Media Query
@mixin mobile($query) {
	@media (width <= $query) {
		@content;
	}
}
// Flext template
@mixin flex($aling: center, $justify: center, $direction: column, $gap: 2rem) {
	display: flex;
	flex-direction: $direction;
	align-items: $aling;
	justify-content: $justify;
	gap: $gap;
}
// Grid template
@mixin grid($columns, $gap) {
	display: grid;
	grid-template-columns: repeat($columns, 1fr);
	gap: $gap;
}
@mixin gridResponsive($min: 20rem, $gap: 2rem) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
	gap: $gap;
}

// Round
@mixin round($radius) {
	border-radius: $radius;
}
