// --------------------------- Family Fonts ---------------------------
@font-face {
	font-family: "Poppins light";
	font-weight: 300;
	src: local("Poppins normal"),
		url("../assest/fonts/webfonts/poppins-latin-300-normal.woff2")
			format("woff2"),
		url("../assest/fonts/webfonts/poppins-latin-300-normal.woff")
			format("woff"),
		url("../assest/fonts/ttf/poppins-latin-300-normal.ttf") format("ttf");
}
@font-face {
	font-family: "Poppins Regular";
	font-weight: 400;
	src: local("Poppins normal"),
		url("../assest/fonts/webfonts/poppins-latin-400-normal.woff2")
			format("woff2"),
		url("../assest/fonts/webfonts/poppins-latin-400-normal.woff")
			format("woff"),
		url("../assest/fonts/ttf/poppins-latin-400-normal.ttf") format("ttf");
}

@font-face {
	font-family: "Poppins Semibold";
	font-weight: 600;
	src: local("Poppins normal"),
		url("../assest/fonts/webfonts/poppins-latin-600-normal.woff2")
			format("woff2"),
		url("../assest/fonts/webfonts/poppins-latin-600-normal.woff")
			format("woff"),
		url("../assest/fonts/ttf/poppins-latin-600-normal.ttf") format("ttf");
}

@font-face {
	font-family: "Poppins Bold";
	font-weight: 700;
	src: local("Poppins normal"),
		url("../assest/fonts/webfonts/poppins-latin-700-normal.woff2")
			format("woff2"),
		url("../assest/fonts/webfonts/poppins-latin-700-normal.woff")
			format("woff"),
		url("../assest/fonts/ttf/poppins-latin-700-normal.ttf") format("ttf");
}

$font-family-poppins-light: "Poppins light";
$font-family-poppins-regular: "Poppins Regular";
$font-family-poppins-semibold: "Poppins Semibold";
$font-family-poppins-bold: "Poppins Bold";
// --------------------------- Size Fonts -----------------------------
$header: 4.5em;
$subtitle: 3.5em;
$subtitle-header: 2.75em;
$projects_subtitle: 1.3em;
$link_nav: 1.2em;
$link_filter: 1.14em;
$parragrahp: 1em;
// --------------------------- Colors ---------------------------------
$white: #edf2ff;
$gray: #b8c5e4;
$soft-white: #c7d6ff;
$soft-blue: #bfdbff;
$soft-cyan: #b2d3ff;
$soft-green: #55a078;
$cyan: #31baff;
//
$shadow_cream: #5050507c;
$shadow_dark: #000000cf;
//
$bg-soft-cyan: #18506c;
$bg-dark-blue: #0b1a229f;
